<footer class="mt-auto">
    <section class="bg-dark py-4">
        <div class="container">
            <div class="row py-3">
                <div class="col-sm-6 text-white">
                    <h4>
                        {{ site_name }}
                        <span class="fst-italic" style="font-size: 10px;">
                            version {{ site_version }}
                        </span>
                    </h4>
                    <p class="blog-body fst-italic small">
                        {{ site_slogan }}
                    </p>
                    <p>
                        <i class="fab fa-facebook-square fa-2x pe-1"></i>
                        <i class="fab fa-twitter-square fa-2x px-1"></i>
                        <i class="fab fa-linkedin fa-2x px-1"></i>
                        <i class="fab fa-youtube-square fa-2x px-1"></i>
                        <i class="fab fa-instagram-square fa-2x px-1"></i>
                        <i class="fab fa-github-square fa-2x px-1"></i>
                        <i class="fas fa-envelope-square fa-2x px-1"></i>
                        <i class="fas fa-rss-square fa-2x px-1"></i>
                    </p>
                </div>
                <div class="col-sm-3">
                    <h5 class="text-white">Catégories</h5>
                    <div>
                        <select onchange="document.location.href = this.value" class="form-select form-select-sm">
                            <option selected>Sélectionnez une catégorie</option>
                            {% for cat in categoriesAll %}
                            <option value="{{ path('category_show', {'slug': cat.slug}) }}">
                                <a href="{{ path('category_show', {'slug': cat.slug}) }}" class="text-white small">
                                    {{ cat.title }}
                                </a>
                                ({{ cat.articles|length }})
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <h5 class="text-white">Tags</h5>
                    {% for t in tags %}
                        <a href="{{ path('tag_show', {'slug': t.slug}) }}" class="badge border text-white">{{ t.title }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</footer>