<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
        <a class="h3 text-decoration-none me-3 text-white" href="{{ path('home') }}">
            <img src="{{ asset('images/logo.png')|imagine_filter('headerlogo') }}" alt="{{ site_name }}" class="img-fluid">
            {{ site_name }}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if current_menu is defined and current_menu == 'Accueil' %} active {% endif %}"
                        href="{{ path('home') }}">{% trans %}Accueil{% endtrans %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if current_menu is defined and current_menu == 'Blog' %} active {% endif %}"
                        href="{{ path('article_index') }}">{% trans %}Blog{% endtrans %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if current_menu is defined and current_menu == 'A propos' %} active {% endif %}"
                        href="{{ path('apropos') }}">{% trans %}A propos{% endtrans %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if current_menu is defined and current_menu == 'Contact' %} active {% endif %}"
                        href="{{ path('contact') }}">{% trans %}Contact{% endtrans %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if current_menu is defined and current_menu == 'Cgu' %} active {% endif %}"
                        href="{{ path('cgu') }}">{% trans %}CGU{% endtrans %}</a>
                </li>
                {% if app.user %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user-circle"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">{{ app.user.nick }}</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{{ path('user_show', {'id': app.user.id}) }}"><i class="far fa-user"></i> {% trans %}Profil{% endtrans %}</a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                        <li><a class="dropdown-item" href="{{ path('admin') }}"><i class="fas fa-cog"></i> {% trans %}Administration{% endtrans %}</a></li>
                        {% endif %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i> {% trans %}Déconnexion{% endtrans %}</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="far fa-user-circle"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                        <a class="dropdown-item" href="{{ path('app_login') }}"><i class="fas fa-sign-in-alt"></i> {% trans %}Connexion{% endtrans %}</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ path('app_register') }}"><i class="fas fa-user-plus"></i> {% trans %}Créer un compte{% endtrans %}</a>
                    </li>
                    </ul>
                </li>
                {% endif %}
                <li class="nav-item">
                    {% for locale in locales %}
                        {% if locale != app.request.locale %}
                            <li>
                                <a class="nav-link" href="{{ path('change_locale', {'locale': locale}) }}">
                                    <img src="{{ asset('images/'~locale~'.png') }}" alt="{{ locale }}" class="img-fluid">
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </li>
            </ul>

            {{ render(controller('App\\Controller\\SearchController::searchBar')) }}

        </div>
    </div>
</nav>

{% for msg in app.session.flashBag.get('message') %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ msg }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}