{% extends 'base.html.twig' %}

{% block title %}{{ site_name }} - {% trans %}Liste des catégories{% endtrans %}{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>{% trans %}Liste des catégories{% endtrans %}</h2>

        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('admin') }}">Admin index</a></li>
                <li class="breadcrumb-item active" aria-current="page">Liste des catégories</li>
            </ol>
        </nav>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(categories, 'Id', 'p.id') }}</th>
                <th>{{ knp_pagination_sortable(categories, 'Titre'|trans({}, 'messages'), 'p.title') }}</th>
                <th width="11%"></th>
                <th width="4%"></th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.title }}</td>
                <td>
                    <a class="btn btn-sm btn-info" href="{{ path('category_show', {'slug': category.slug}) }}">{% trans %}Voir{% endtrans %}</a>
                    <a class="btn btn-sm btn-warning" href="{{ path('category_edit', {'slug': category.slug}) }}">{% trans %}Modifier{% endtrans %}</a>
                </td>
                <td>
                    {{ include('category/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{% trans %}Il n'y a aucun enregistrement.{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="pagination justify-content-center px-2 mt-5">
        {{ knp_pagination_render(categories) }}
    </div>

{% endblock %}
