{% extends 'base.html.twig' %}

{% block title %}{% trans %}Catégorie{% endtrans %}{% endblock %}

{% block body %}
    <h2 class="mb-4 border-bottom">{% trans %}Catégorie{% endtrans %} : {{ category.title }} ({{ category.articles|length }})</h2>

    <div class="row">
        <div class="col-9 pe-5">
            <h5 class="border-bottom mb-3">{% trans %}Les articles de la catégorie{% endtrans %} :</h5>
            {% for c in category.articles %}
                <div class="row py-1">
                    <div class="col border-bottom mb-3">
                        <img src="{{ asset('uploads/images/articles/') ~ c.image }}" class="img-fluid float-start category-image me-3 mt-2" alt="{{ c.title }}">
                        <a href="{{ path('article_show', { 'slug': c.slug }) }}" class="text-decoration-none lead">
                            {{ c.title }}
                        </a>
                        <p>
                            {{ c.presentation }}
                        </p>
                    </div>
                </div>
            {% else %}
                <div class="row py-1">
                    <div class="col">
                        {% trans %}Il n'y a aucun article dans cette catégorie...{% endtrans %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col shadow pt-3">
            {% block sidebar %}
                {{ sidebar() }}
            {% endblock %}
        </div>
    </div>
    
{% endblock %}
