{% extends 'base.html.twig' %}

{% block title %}{{ site_name }} - Administration{% endblock %}

{% block body %}

<div class="row mb-5 pb-5">
    <div class="col">
        <h4>{% trans %}Articles{% endtrans %}</h4>
        <div class="d-grid gap-2">
            <a class="btn btn-lg btn-primary" href="{{ path('article_admin_index') }}">{% trans %}Liste des Articles{% endtrans %}</a>
            <a class="btn btn-lg btn-success" href="{{ path('article_new') }}">{% trans %}Créer un article{% endtrans %}</a>
        </div>
    </div>
    <div class="col">
        <h4>Catégories</h4>
        <div class="d-grid gap-2">
            <a class="btn btn-lg btn-primary" href="{{ path('category_admin_index') }}">{% trans %}Liste des Catégories{% endtrans %}</a>
            <a class="btn btn-lg btn-success" href="{{ path('category_new') }}">{% trans %}Créer une catégorie{% endtrans %}</a>
        </div>
    </div>
    <div class="col">
        <h4>Tags</h4>
        <div class="d-grid gap-2">
            <a class="btn btn-lg btn-primary" href="{{ path('tag_admin_index') }}">{% trans %}Liste des Tags{% endtrans %}</a>
            <a class="btn btn-lg btn-success" href="{{ path('tag_new') }}">{% trans %}Créer un tag{% endtrans %}</a>
        </div>
    </div>
    <div class="col">
        <h4>Utilisateurs</h4>
        <div class="d-grid gap-2">
            <a class="btn btn-lg btn-primary" href="{{ path('user_index') }}">{% trans %}Liste des Utilisateurs{% endtrans %}</a>

        </div>
    </div>
</div>

{% endblock %}
