<div class="row mt-4 ps-3">

    <div class=" col mb-4">
        <h5 class="border-bottom">{% trans %}Derniers articles{% endtrans %}</h5>
        {% for a in lastArticles %}
            <div class="clearfix my-3">
                <i class="fas fa-arrow-circle-right"></i>
                <a href="{{ path('article_show', { 'slug': a.slug }) }}" class="text-decoration-none">{{ a.title|slice(0,60) }}...</a>
                <span class="small">, le {{ a.created_at|format_datetime('short', 'none') }}</span>
            </div>
        {% endfor %}
    </div>

    <div class="col mb-4">
        <h5 class="border-bottom">{% trans %}Derniers commentaires{% endtrans %}</h5>
        {% for c in lastComments %}
        <div class="clearfix my-3">
            <i class="fas fa-arrow-circle-right"></i>
            <a href="{{ path('article_show', { 'slug': c.slug }) }}#comments" class="text-decoration-none">{{ c.content|slice(0,60) }}...</a>
            <span class="small">, par {{ c.nickname }}, le {{ c.created_at|format_datetime('short', 'none') }}</span>
        </div>
        {% endfor %}
    </div>

</div>

<div class="row mt-4 ps-3">
    <h5 class="border-bottom">{% trans %}Stats du site{% endtrans %}</h5>
    <div class="clearfix my-3">
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {% trans %}Articles{% endtrans %}
                <span class="badge bg-success rounded py-1 px-2 ml-5">
                    {{ articlesAll | length }}
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {% trans %}Commentaires{% endtrans %}
                <span class="badge bg-success rounded py-1 px-2 ml-5">
                    {{ commentsAll | length }}
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {% trans %}Lectures{% endtrans %}
                <span class="badge bg-success rounded py-1 px-2 ml-5">
                    {% for view in views %}
                    {{ view.totalViews | number_format(0, '', ' ') }}
                    {% endfor %}
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {% trans %}Catégories{% endtrans %}
                <span class="badge bg-success rounded py-1 px-2 ml-5">
                    {{ categoriesAll | length }}
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">{% trans %}Tags{% endtrans %}
                <span class="badge bg-success rounded py-1 px-2 ml-5">
                    {{ tags | length }}
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {% trans %}Utilisateurs{% endtrans %}
                <span class="badge bg-success rounded py-1 px-2 ml-5">
                    {{ users | length }}
                </span>
            </li>
        </ul>
    </div>
</div>