{% extends 'base.html.twig' %}

{% block title %}{{ site_name }} - {% trans %}vos résulats de recherche{% endtrans %}{% endblock %}

{% block body %}

<div class="row d-flex justify-content-center mb-5">
    <div class="col">
        {% if app.request.method == 'POST' %}
            <div>
                {% if articles | length == 0 %}
                    <h4>{% trans %}Aucun résulat pour votre recherche.{% endtrans %}</h4>
                {% else %}
                    <h3 class="mt-3">{% trans %}Vos résulats de recherche{% endtrans %} :</h3>
                    {% for article in articles %}
                        <div class="mt-3 p-3 bg-light border rounded">
                            <a class="text-decoration-none" href="{{ path('article_show', {'slug': article.slug}) }}">
                                <span class="text-dark fw-bold fs-6"><i class="fas fa-external-link-square-alt fa-3x float-start me-2"></i> {{ article.title }}</span>
                            </a>
                            <br>
                            <span class="small fst-italic">
                                {% trans %}Posté le{% endtrans %} {{ article.createdAt|format_datetime('medium', 'short') }} {% trans %}par{% endtrans %} {{ article.author.prenom }} {{ article.author.nom }}
                            </span>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}