{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-sm btn-success">{{ button_label|default('Créer') }}</button> 
    <button class="btn btn-sm btn-secondary" type="reset">{% trans %}Annule{% endtrans %}r</button> 
    <a class="btn btn-sm btn-primary" href="{{ path('tag_admin_index') }}">{% trans %}Liste des Tags{% endtrans %}</a>
{{ form_end(form) }}
