{% extends 'base.html.twig' %}

{% block title %}Tag{% endblock %}

{% block body %}
    <h2 class="mb-4 border-bottom">Tag : {{ tag.title }}</h2>

    <div class="row">
        <div class="col-9">
            <h5>Les articles du tag :</h5>
            {% for t in tag.articles %}
                <div class="row py-1">
                    <div class="col">
                        <i class="fas fa-chevron-right"></i> 
                        <a href="{{ path('article_show', { 'slug': t.slug }) }}" class="text-decoration-none">
                            {{ t.title }}
                        </a>
                    </div>
                </div>
            {% else %}
                <div class="row py-1">
                    <div class="col">
                        Il n'y a aucun article pour ce tag.
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col shadow pt-3">
            {% block sidebar %}
                {{ sidebar() }}
            {% endblock %}
        </div>
    </div>
    {#
    <a href="{{ path('tag_index') }}">back to list</a>
    <a href="{{ path('tag_edit', {'slug': tag.slug}) }}">edit</a>
    {{ include('tag/_delete_form.html.twig') }}
    #}
{% endblock %}
