{% extends 'base.html.twig' %}

{% block title %}{{ site_name }}: {% trans %}erreur{% endtrans %} {{ status_code }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col mt-4 alert-danger py-5 px-3 text-center">
            <h1 class="display-1 font-weight-bold">{% trans %}ERREUR{% endtrans %} {{ status_code }}</h1>
            <h1 class="display-4 mb-5">{{ status_text }}</h1>
            <h2>{% trans %}Accès interdit !{% endtrans %}</h2>
            <h4 class="mb-4">{% trans %}"Vous ne passerez pas !"{% endtrans %}</h4>
            {% trans %}Veuillez cliquer sur le bouton ci-dessous{% endtrans %}
        </div>
        <div class="mt-3 text-center">
            <a class="btn btn-primary p-3 lead" href="{{ path('home') }}">{% trans %}Retour à la page d'accueil{% endtrans %}</a>
        </div>
    </div>

{% endblock %}