{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
<h2>Tous les articles</h2>

<div class="row row-cols-1 row-cols-md-4 g-4">

    {% for article in articles %}
    <div class="col">
        <div class="card h-100">
            <img src="{{ asset('uploads/images/articles/' ~ article.image) }}" class="card-img-top"
                alt="{{ article.title }}">
            <div class="card-body">
                {% for cat in article.category %}
                    <a href="{{ path('category_show', {'slug': cat.slug}) }}" class="text-decoration-none font-monospace text-dark me-1">
                        {{ cat.title }}
                    </a>
                {% endfor %}
                <br>
                {% for tag in article.tag %}
                    <a href="{{ path('tag_show', {'slug': tag.slug}) }}" class="text-decoration-none text-dark">
                        <span style="font-size:0.7rem;">{{ tag.title }}</span>
                    </a>
                {% endfor %}
                <h5 class="card-title">
                    <a href="{{ path('article_show', {'slug': article.slug}) }}" class="text-decoration-none text-dark">
                        {{ article.title }}
                    </a>
                </h5>
                <p class="small">
                    {{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}
                    {{ article.updatedAt ? article.updatedAt|date('Y-m-d H:i:s') : '' }}
                </p>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

<div class="pagination justify-content-center px-2 mt-5">
    {{ knp_pagination_render(articles) }}
</div>

{% endblock %}