{% extends 'base.html.twig' %}

{% block title %}{{ site_name }} - {{ user.prenom }} {{ user.nom }}{% endblock %}

{% block body %}

    {% for message in app.flashes('message') %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <h2>{% trans %}Profil de{% endtrans %} {{ user.prenom }} {{ user.nom }}</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Email{% endtrans %}</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>
                    {#{ user.roles ? user.roles|json_encode : '' }#}
                    {% if user.roles|json_encode == '["ROLE_USER"]' %}
                        <span class="text-primary fw-bold">Utilisateur</span>
                    {% else %}
                        <span class="text-danger fw-bold">Admin</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{% trans %}Compte vérifié{% endtrans %}</th>
                <td>{{ user.isVerified ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>{% trans %}Nom<{% endtrans %}/th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>{% trans %}Prénom{% endtrans %}</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <th>{% trans %}Avatar{% endtrans %}</th>
                <td><img src="{{ asset('uploads/images/users/' ~ user.avatar)|imagine_filter('user') }}" alt="{{ user.prenom }} {{ user.nom }}" class="img-fluid"></td>
            </tr>
            <tr>
                <th>{% trans %}Enregistré le{% endtrans %}</th>
                <td>{{ user.createdAt|format_datetime('medium', 'short') }}</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between align-items-center mt-5">
        <span>
            <a class="btn btn-sm btn-success" href="{{ path('user_edit', {'id': user.id}) }}">{% trans %}Modifier le profil{% endtrans %}</a>
            <button type="reset" class="btn btn-sm btn-secondary">{% trans %}Annuler{% endtrans %}</button>
        </span>
        <span>
            {{ include('user/_delete_form.html.twig') }}
        </span>
    </div>

{% endblock %}
