{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h2>Profil de {{ user.prenom }} {{ user.nom }}</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>
                    {#{ user.roles ? user.roles|json_encode : '' }#}
                    {% if user.roles|json_encode == '["ROLE_USER"]' %}
                        <span class="text-primary fw-bold">Utilisateur</span>
                    {% else %}
                        <span class="text-danger fw-bold">Admin</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Compte vérifié</th>
                <td>{{ user.isVerified ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <th>Avatar</th>
                <td><img src="{{ asset('uploads/images/users/' ~ user.avatar) }}" alt="{{ user.prenom }} {{ user.nom }}" class="img-fluid" style="max-width: 100px; width: 100%;"></td>
            </tr>
            <tr>
                <th>Enregistré le</th>
                <td>{{ user.createdAt|format_datetime('medium', 'short', locale='fr') }}</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between align-items-center mt-5">
        <span>
            <a class="btn btn-success" href="{{ path('user_edit', {'id': user.id}) }}">Modifier le profil</a>
            <button type="reset" class="btn btn-secondary">Annuler</button>
        </span>
        <span>
            {{ include('user/_delete_form.html.twig') }}
        </span>
    </div>

{% endblock %}
